.charts_container{
    position: absolute;
    top: 85px;
    right: 20px;
    width: 120px;
    height: 400px;
}
.label-one {
  position: absolute;
  color: grey;
  right: 5px;
  top: -57px;
}

.label-two {
  position: absolute;
  left: -70px;
  top: -45px;
}

.label-three {
  position: absolute;
  left: -90px;
}

.label-four {
  position: absolute;
  left: -80px;
  top: 30px;
}