.charts_container{
    position: absolute;
    top: 147px;
    right: 30px;
    width: 120px;
    height: 400px;
}
.first__element{
  position: absolute;
  color: grey;
  right: 283px;
  top: -13px;
  font-size: 14px;
}
.second__element{
  position: absolute;
  right: 278px;
  top: 3px;
}
.third__element{
  position: absolute;
  right: 200px;
  top: -20px;
  color: red;
  font-size: 14px;
}