.charts_container{
    position: absolute;
    top: 147px;
    right: 30px;
    width: 120px;
    height: 400px;
}
.first__element{
  position: absolute;
  color: grey;
  right: 180px;
  top: -13px;
  font-size: 14px;
}
.second__element{
  position: absolute;
  right: 177px;
  top: 15px;
}